body {
    font-family: 'Arial', sans-serif;
    background-color: #FFF2F2;
    color: #2D336B;
    margin: 0;
    padding: 0;
}

.gradio-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.gradio-input, .gradio-output {
    width: 100%;
}

.gradio-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2D336B;
}

.gradio-description {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #2D336B;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #A9B5DF;
}

.table th, .table td {
    padding: 8px 12px;
    border: 1px solid #2D336B;
}

.table th {
    background-color: #7886C7;
    font-weight: bold;
    color: #FFF2F2;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #A9B5DF;
}

.table-hover tbody tr:hover {
    background-color: #7886C7;
    color: #FFF2F2;
}

.verses-output textarea {
    font-size: 18px !important;
    line-height: 1.3 !important;
    height: 600px !important;
    width: 100% !important;
}

.word-cloud-output {
    height: 600px !important;
    width: 100% !important;
}

.word-cloud-output img {
    height: 100% !important;
    width: 100% !important;
    object-fit: contain !important;
}

/* Tab Descriptions */
.tab-description {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #A9B5DF;
    border-radius: 5px;
    color: #2D336B;
}